
img {
  margin: 0;
  border: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;
}
#main {
  /* width achieves centering */
  width: 900px;
  /* auto means that left/right adjust automatically to window size, always centering main
  below is shorthand for:
  margin-top: 0;
margin-bottom: 40px;
margin-right: auto;
margin-left: auto;*/
  margin: 0 auto 40px;
  padding: 0;
}
h2 {
  color: black;
}
.links a {
  color: blue;
}
ul {
  list-style: none;
}
a {
  color: purple;
  text-decoration: none;
  /* border-bottom: 1px dotted #a369d5; */
}
.pictures {
  margin: 10px auto;
  /* how do I change the vertical spacing between pictures? */
  width: 900px;
  padding: 0;
}
#logo {
  margin: 0 auto 30px;
  width: 200px;
}
.pictures li{
  display: inline;
  margin: 6px;
}
.links img {
  margin: 15px 2px;
  width: 439px;
  border: 2px solid #b9b1bf;
}
